*{padding:0;margin:0;}

a:hover{text-decoration:none !important}
ul li{list-style: none;}
.clear{
	clear: both;
}

body{
	font-family: 'Hel';
	font-size: 14px;
}
a:hover {
    text-decoration: none !important;
}
.pdl-0{
	padding-left: 0px !important;
}
.pdr-0{
	padding-right: 0px !important;
}
.pdt-10{
	padding-top: 10px;
}
.tac{
	text-align: center;
}
.mt-30{
	margin-top: 30px;
}
.mb-30{
	margin-bottom: 30px;
}
.mt-20{
    margin-top: 20px;
}
.mb-0{
    margin-bottom: 0px;
}
ul.ls {
    list-style: none;
    padding: 0;
    margin: 0;
}
@font-face {
    font-family: 'Hel';
    src: url('../fonts/helveticaneue.ttf');
    font-style: normal;
}
@font-face {
    font-family: 'UTM';
    src: url('../fonts/UTM_Avo.ttf');
    font-style: normal;
}
@font-face {
    font-family: 'UTMB';
    src: url('../fonts/UTM_AvoBold.ttf');
    font-style: normal;
}
@font-face {
    font-family: 'UTMI';
    src: url('../fonts/UTM_AvoItalic.ttf');
    font-style: normal;
}
@font-face {
    font-family: 'UTMA';
    src: url('../fonts/UTM_Androgyne.ttf');
    font-style: normal;
}
.menu{
    width: 100%;
    float: left;
   
}
.menu-home{
    position: absolute;
    top: 0px;
    z-index: 900000000;
}
.img-logo{
    width: 100%;
    height: 88px;
}
.menu ul.navi{
    text-align: right;
    margin-top: 30px;
}
.menu ul.navi > li{
    position: relative;
    display: inline-block;
    line-height: 40px;
}
.menu ul.navi > li:hover > a{
    color: #000;
}
.menu-home a{
    color: #fff !important;
}
.menu ul.navi > li a {
    color: #000;
    font-size: 16px;
    text-transform: uppercase;
    font-family: Hel;
    padding: 0px 15px;
    /*display: block;*/
}

.vk-menu__child{
    display: none;
    position: absolute;
    top: 40px;
    left: 0px;
    width: 400px;
    background: #cc9933;
    z-index: 9999;
    text-align: left;
}
.vk-menu__child > li{
    padding-bottom: 8px;    
    border-bottom: 1px solid #fff;
}
.menu .navi li:hover > ul.vk-menu__child {
    display: block;   
}
.menu .navi li > ul.vk-menu__child > li:hover{
    background: #cc6600;
}
.menu .navi li > ul.vk-menu__child > li:hover > a{
    color: #fff;
}
.vk-menu__child a{
    font-size: 12px !important;
    color: #fff;
    padding: 10px 10px !important;
}
.logo-mobile{
    width: 100%;
    float: left;
}
.logo-mobile img{
    width: 100%;
}
.menu-mobile{
    width: 100%;
    float: left;
    margin-bottom: 10px;
}
.vk-header__search {
    text-align: right;
}
.menu_Mobile{
    font-size: 18px;
    color: #cc6600;
}
.vk-menu__mobile {
    border-top: 3px solid white;
    padding: 0px 0px;
    text-transform: uppercase;
    background: #cc6600;
}
.vk-menu__mobile li {
    position: relative;
}
.vk-menu__mobile li a {
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    padding: 10px 15px;
    display: block;
    width: 100%;
    color: #fff;
}
.vk-menu__mobile li a._arrow-mobile {
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    height: 42px;
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    border-top: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.slider{
    width: 100%;
    float: left;
    /*margin-top: 15px;*/
}
.slider .item img{
    width: 100%;
    height: 100% !important;   
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
}
.des-slider{
    position: absolute;
    bottom: 30%;
    z-index: 999999;
    left: 20%;
    right: 20%;
    color: #fff;
}
.title-s{
    font-size: 18px;
    text-transform: uppercase;
}
/*page Dự án*/
.content-project{
    width: 100%;
    float: left;
}
.banner{
    width: 100%;
    float: left;
    background: url('../images/banner_page.jpg') no-repeat center top;
    height: 300px;
    margin-bottom: 25px;
    overflow: hidden;
}
.content-project h1{
    color: #fff;
}
.wpb_single_image {
    height: auto;
    max-width: 100%;
    vertical-align: top;
}
.box-des, .slider-project{
    width: 100%;
    float: left;
    margin-bottom: 30px;
}
.des-project{
    font-size: 16px;
}
.owl-carousel-product .owl-controls .owl-nav .owl-prev {
    display: inline-block;
    position: absolute;
    top: 50%;
    margin-top: -14px;
    left: 0px;
    margin-left: 0px;
}
.owl-carousel-product .owl-controls .owl-nav .owl-next i, .owl-carousel-product .owl-controls .owl-nav .owl-prev {
    border: 1px solid #993333;
    border-radius: 50%;
    padding: 4px 10px;
    color: #fff;
    font-size: 16px;
    background: #993333;
}
.owl-carousel-product .owl-controls .owl-nav .owl-next {
    display: inline-block;
    position: absolute;
    top: 50%;
    margin-top: -14px;
    right: 0px;
    margin-right: 0px;
}
.owl-carousel-product .item{
    margin-left: 10px;
    margin-right: 10px;
}
.popup img{
    cursor: pointer
}
.show-popup{
    z-index: 999;
    display: none;
}
.show-popup .overlay{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.66);
    position: absolute;
    top: 0;
    left: 0;
}
.show-popup .img-show{
    width: 600px;
    height: 400px;
    background: #FFF;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    overflow: hidden
}
.img-show span{
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 99;
    cursor: pointer;
}
.img-show img{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.content-home-cate, .box-item-news, .crumb{
    width: 100%;
    float: left;
}
.box-item-news img{
    width: 100%;
}
.box-item-news{
    margin-bottom: 20px;
}
.name_news{
    font-size: 18px;
    margin-bottom: 0;
}
.breadcrumbx{
    margin-bottom: 10px;
}
.language a{
    /*padding-right: 0px !important;*/
}
.content-news-detail img{
    max-width: 100%;
}

footer{
    width: 100%;
    float: left;
    background: #4A4A4A;
    color: #fff;
}
.ketrang{
    width: 50px;
    height: 2px;
    background: #fff;
    display: block;
}
.title-footer{
    text-transform: uppercase;
}
.form-regis input{
    margin-bottom: 10px;
}
.btn-send-regis{
    margin-top: 10px;
    margin-bottom: 10px;
}
.bottom-f{
    width: 100%;
    float: left;
    color: #fff;
    text-align: center;
    border-top: 1px solid #fff;
    padding-top: 15px;
    margin-top: 20px;
}
.box-map iframe{
    width: 100%;
    float: left;
}
/*danh muc san pham*/
.title-cate {
    background: #1a6b8f;
    color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    text-transform: uppercase;
    font-size: 16px;
    /*text-align: center;*/
    padding-left: 15px;
    margin-top: 0;
    margin-bottom: 0px;
}
.list-cate-home > ul {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 30px;
    margin-bottom: 0px;
}
.menu-sidebar li {
    position: relative;
}
.list-cate-home > ul > li {
    padding-left: 20px;
    border-bottom: 1px solid #ddd;
    /* text-align: center; */
    line-height: 43px;
}
.list-cate-home > ul > li > a {
    color: #000;
    /* text-transform: uppercase; */
    font-size: 16px;
}
.menu-sidebar-child {
    display: none;
}
.menu-sidebar-child li {
    line-height: 43px;
    padding-left: 40px;
    border-bottom: 1px solid #ddd;
}
.menu-sidebar-child li a {
    font-size: 16px;
    color: #000;
}
.list-cate-home > ul > li:hover > a{
    color: #1a6b8f;
}
.menu-sidebar li:hover > .menu-sidebar-child {
    display: block !important;
    position: absolute;
    left: 100%;
    top: 0px;
    width: 250px;
    z-index: 9999999;
    background: #fff;
}


.content-home-cate{
    width: 100%;
    float: left;
    margin-top: 40px;
}