@media (max-width: 767px){
	.content-project{
		height: 200px;
	}
	.show-popup .img-show{
		width: 100%;
	}
	.capacity-block .capacity-bottom .item-block {
	    width: 100%;
	}
	.capacity-block .capacity-bottom .item-block .item {
	    padding: 20px 30px;
	    border-bottom: 1px solid #fff;
	}
	.capacity-block .capacity-top {
	    padding: 33px;
	}
	.capacity-block .capacity-top .number {
	    font-size: 50px;
	}
}
@media (min-width: 768px) {
	
}
@media (min-width: 768px) and (max-width: 999px){
	.menu{
		margin-top: 20px;
	}
}
@media (min-width: 1000px) {
	
}
@media (min-width: 1200px){
	.about-left, .video-right{
		width: 50%;
		float:left;
		min-height: 370px;
	}
	.home-news-item{
		/*width: 50%;*/
	}
}
